{% extends 'base.html' %}
{% block content %}
  <div class="single-loan">
    <h1 class="single-loan">
      {{ loan.owner }} {{ loan.total_amount }}
    </h1>
    
    <p><b>Valor:</b> {{ loan.total_amount }}</p>
    <p><b>Total de parcelas:</b> {{ loan.total_installments}}</p>
    <p><b>Data de criação:</b> {{ loan.loan_date }}</p>

    <p><b>-----------------------------------------------</b></p>
    {% for installment in installments %}
      {% if installment.owner_user == user %}
          <tr class="table-row">
              <td class="table-cel">  
                  {{installment.amount_per_installment}}
              </td>
              <td class="table-cel">  
                  {{installment.installment_date}}
              </td>
              <td class="table-cel">
                  <form action="{% url 'contact:delete_parcela' parcela_id=installment.id %}" method="post">
                      {% csrf_token %}
                      <button class="btn" type="submit">Pagar</button>
                  </form>                                    
              </td>
          </tr>
      {% endif %}
    {% endfor %}
    <p><b>-----------------------------------------------</b></p>
    <td class="table-cel">
      <form action="{% url 'contact:loan_delete' loan_id=loan.id %}" method="post">
          {% csrf_token %}
          <button class="btn" type="submit">Apagar Emprestimo</button>
      </form>                                    
    </td>
    <p><b>-----------------------------------------------</b></p>
    <td class="table-cel">
      <form action="{% url 'contact:loan_update' loan_id=loan.id %}" method="get">
          {% csrf_token %}
          <button class="btn" type="submit">atualizar Emprestimo</button>
      </form>                                    
    </td>
    </div>
  </div>
{% endblock content %}